<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/send_url.js"></script>
  </head>
  <body>
   Nama [Nama],<br>
   Usia anda saat ini adalah: <br>
   [thn] Tahun,<br>
   [bln] Bulan,<br>
   [hr] Hari<br>
   <br>
   Bintang anda adalah<br>
   [Zodiac Name]
  </body>
</html>